[submodule "dependencies/nlohmann"]
	path = dependencies/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "dependencies/eigen"]
	path = dependencies/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "dependencies/args"]
	path = dependencies/args
	url = https://github.com/Taywee/args.git
